.vscode
.slim
**/codemap.md
PLAN.md
LOG.md
MEMORY.md

# npm
node_modules
pnpm-lock.yaml
bun.lock
bun.lockb

# obsidian
data.json

# Local
*.local
*.log*

# Environment variables
.env
.ignore

# build output
dist
styles.css
main.js
