.vscode
.slim
**/codemap.md
plans
PLAN.md
LOG.md
MEMORY.md
AGENTS.md
REQUIREMENTS.md

# npm
node_modules

# Local
*.local
*.log*

# Environment variables
.env
.ignore

# build output
dist
